language: node_js
node_js:
- '6'
before_script:
- npm install -g grunt-cli
deploy:
  provider: npm
  email: henri.bergius@iki.fi
  api_key:
    secure: SLeh63/tzlj+HEh7R/DCD/OxvIK8+7aSOJ3hUh2RiXt7v4tj0eT4G/D3Y62tpp4YAyIoa3Eipzq09hT4KdmUOmKp9IDT1q2BDBMy5gxUOSXld/NfCuoX9u0yC2p9lOP/cmKEYolXATB8t3RkQfWL8bvC3RgsJBKlHGzZ11YQfac=
  on:
    tags: true
    repo: noflo/noflo-filesystem
